<!DOCTYPE html>
<html>
<head>
    <title>Task Competition</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="nav">
    <a href="{{ url_for('home') }}">Home</a>
</div>

<h1>To-Do List: {{ blueprint_name }}</h1>
<div class="container">
    {% for person in persons %}
    <div class="tasks">
        <h2>{{ person }}</h2>
        <ul>
            {% for task in tasks[person] %}
            <li>
                <input type="checkbox" {{ task[1] }} onClick="window.location.replace('{{ url_for('tasks.complete_task', category=blueprint_name, person=person, task_id=loop.index0) }}')">
                {{ task[0] }}
                <a href="{{ url_for('tasks.delete_task', category=blueprint_name, person=person, task_id=loop.index0) }}" class="delete-link">❌</a>
            </li>
            {% endfor %}
        </ul>
        <form method="POST" action="{{ url_for('tasks.add_task', category=blueprint_name) }}">
            <input type="hidden" name="person" value="{{ person }}">
            <input type="text" name="task" placeholder="Add task..." required>
            <button type="submit">Add</button>
        </form>
    </div>
    {% endfor %}
</div>

<hr>

<h2>Add New Person</h2>
<form method="POST" action="{{ url_for('tasks.add_task', category=blueprint_name) }}">
    <input type="text" name="person" placeholder="Person's Name" required>
    <input type="text" name="task" placeholder="Add task..." required>
    <button type="submit">Add</button>
</form>

</body>
</html>